<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="d-block">
        <button class="btn btn-primary"><a href="/employees"
                class="text-uppercase text-light text-decoration-none">Home</a></button>
        <button class="btn btn-primary"><a href="/employees/new"
                class="text-uppercase text-light text-decoration-none">New
                Employee</a></button>
    </nav>
    <h2>Employee details</h2>
    <div class="p-3 shadow-lg mb-5 bg-body rounded">
        <form action='/employees/<%=employee.employeeid %>?_method=PUT' method='POST' class="d-flex flex-column">
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="firstname" required value="<%=employee.firstname%>">
            <label for=" lastname">Last Name</label>
            <input type="text" id="lastname" name="lastname" required value="<%=employee.lastname%>">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required value="<%=employee.email%>">
            <label for="designation">Designation</label>
            <input type="text" id="designation" name="designation" required value="<%=employee.designation%>">
            <button class="btn btn-primary text-light">Save</button>
            <input class="btn btn-danger text-light" type="reset" value="clear fields">
        </form>
    </div>
</body>

</html>