<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="d-block">
        <button class="btn btn-primary"><a href="/employees"
                class="text-uppercase text-light text-decoration-none">Home</a></button>
        <button class="btn btn-primary"><a href="/employees/new"
                class="text-uppercase text-light text-decoration-none">New
                Employee</a></button>
    </nav>
    <h1 class="text-center">
        Simple Nodejs Application - Employee Roster
    </h1>
    <div class="d-flex flex-column justify-content-center align-items-center" id="roster">
        <% employeeData.forEach(e=> { %>
            <div class="p-3 shadow-lg mb-5 bg-body rounded">
                <div>
                    Name: <%= e.firstname %>
                        <%= e.lastname %>
                </div>
                <p>
                    Title: <%= e.designation %>
                </p>
                <div class="d-flex">
                    <button class="btn btn-primary"><a class="text-uppercase text-light text-decoration-none"
                            href='/employees/<%=e.employeeid %>'>More details</a></button>
                    <button class="btn btn-info"><a class="text-uppercase text-light text-decoration-none"
                            href='/employees/<%=e.employeeid %>/edit'>Edit details</a></button>
                    <form action='/employees/<%=e.employeeid %>?_method=DELETE' method='POST'>
                        <button class="btn btn-danger text-uppercase text-light text-decoration-none">Delete</button>
                    </form>
                </div>
            </div>
            <% }) %>
    </div>
</body>

</html>