<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>
        Employee Roster
    </h1>
    <div class="container" id="roster">
        <% employeeData.forEach(e=> { %>
            <div>
                <div>
                    <%= e.firstname %>
                        <%= e.lastname %>
                </div>
                <p>
                    <%= e.designation %>
                </p>
                <button><a href='/employees/<%=e.employeeid %>'>More details</a></button>
                <button><a href='/employees/<%=e.employeeid %>/edit'>Edit details</a></button>
                <form action='/employees/<%=e.employeeid %>?_method=DELETE' method='POST'>
                    <button>Delete</button>
                </form>
            </div>
            <% }) %>
    </div>
</body>

</html>